# add keys to delete or replace without yanking to registry
noremap S "_d
nnoremap S "_d
vnoremap S "_d
vnoremap P "_dP

# Search for selected text by pressing //
# https://vim.fandom.com/wiki/Search_for_visually_selected_text
# does not work for slashes
# suggested solution in the link does not work
vnoremap // y/\V<C-R>"<CR>
